<div class="container" fxLayout="row" fxLayoutGap="10px">
  <mat-card
    class="puntero"
    (click)="pokemonService.pokemon = item; selectedPkmn(item)"
    fxFlex="20"
    *ngFor="let item of items | filter: textToFind:'name'"
  >
    <mat-card-header *ngIf="!pokemonService.loadingState">
      <img
        class="img-thumb example-header-image"
        mat-card-avatar
        [src]="item?.sprites?.front_shiny || item?.sprites?.front_default || ''"
      />
      <mat-card-title fxFlex>{{ item?.name | ucwords }}</mat-card-title>
    </mat-card-header>
    <mat-chip-list class="chips-mrgin" *ngIf="!pokemonService.loadingState">
      <mat-chip class="red-my-color">{{ item.id || "noid" }}</mat-chip>
      <mat-chip
        [ngClass]="item.color?.name || 'noname'"
        class="my-color"
        *ngFor="let type of item.types"
      >
        type: {{ type.type?.name }}</mat-chip
      >
    </mat-chip-list>
    <img
      mat-card-lg-image
      [ngStyle]="objStyles"
      *ngIf="!pokemonService.loadingState"
      mat-card-image
      [src]="item?.sprites?.front_default"
      alt="Photo of a Shiba Inu"
    />
    <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle>  -->

    <mat-chip-list class="chips-mrgin" *ngIf="!pokemonService.loadingState">
      <mat-chip>
        {{ item?.evolution_chain?.chain?.species?.name }}
      </mat-chip>
      <mat-chip>
        {{ item?.evolution_chain?.chain?.evolves_to[0]?.species?.name }}
      </mat-chip>
      <mat-chip
        *ngIf="
          item.evolution_chain.chain.evolves_to &&
          item.evolution_chain.chain.evolves_to.length > 0 &&
          item.evolution_chain.chain.evolves_to[0].evolves_to.length > 0
        "
      >
        {{
          item?.evolution_chain?.chain?.evolves_to[0]?.evolves_to[0]?.species
            ?.name
        }}
      </mat-chip>
    </mat-chip-list>

    <!--    <mat-card-actions align="start">-->
    <!--          <button mat-button >Action1</button>-->

    <!--    </mat-card-actions>-->
    <!--    <mat-card-footer>-->
    <!--      Footer-->
    <!--    </mat-card-footer>-->
  </mat-card>
</div>
