<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Pokemons</span>
    <div fxFlex="2"></div>
    <div>
      <input
        placeholder="Find Pokemon..."
        #textFind
        type="text"
        (keyup)="findFn(textFind.value)">
    </div>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" routerLink="home" matTooltip="Pokemons" aria-hidden="false"
              aria-label="Example user verified icon">control_camera
    </mat-icon>
    <mat-icon class="example-icon" routerLink="home" aria-hidden="false" aria-label="Example user verified icon">
      games
    </mat-icon>
  </mat-toolbar-row>

</mat-toolbar>
